* {
  font-family: "Ubuntu", "Monserrat", sans-serif;
}

body {
  margin: 0;
}

header {
  height: 40px;
  background-color: #d7f7ff;
}

nav {
  position: absolute;
  right: 20px;
}

h1 {
  color: #125e82;
  font-size: 4rem;
  font-family: "Sacramento";
  margin-bottom: 10px;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #146c94;
}

a:hover {
  color: #19a7ce;
}

.heading {
  background-color: #d7f7ff;
  margin: 0;
}

.top-container {
  text-align: center;
}

.top-container p {
  color: #125e82;
  font-size: 1.5rem;
  margin: 0;
}

.top-cloud {
  margin: 10px 0 0 0;
  margin-right: 300px;
  width: 13%;
}

.bottom-cloud {
  position: absolute;
  right: 150px;
  width: 13%;
}

.mountain {
  width: 80%;
  margin-top: 100px;
  margin-bottom: -4px;
  position: relative;
}

.dev {
  text-decoration: underline;
  text-transform: uppercase;
}

#middle {
  color: #ffffff;
  text-align: -webkit-center;
  background-color: #125e82;
  padding: 60px;
}

.middle-container img {
  height: 200px;
  border-radius: 100%;
}

.middle-container p {
  width: 65%;
}

#bottom {
  color: #125e82;
  text-align: -webkit-center;
  background-color: #ffffff;
}

/* .skill {
  width: 65%;
  padding: 20px;
} */

.description {
  text-align: left;
  width: 40%;
}

.html {
  float: left;
}

.skill img {
  border-radius: 100%;
  height: 160px;
}

.css {
  float: right;
}
